.form-container {
    margin-left: 220px; /* Відступ від лівого краю для уникнення перекриття sidebar */
    width: calc(100% - 220px); /* Корекція ширини контейнера */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px; /* Максимальна ширина полів форми */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #004080;
}
