.header {
    background-color: #343a40;
    padding: 10px 20px;
    color: white;
    position: fixed;
    left: 200px; /* Відступ зліва рівний ширині sidebar */
    right: 0; /* Краї header простягатимуться до правого краю вікна */
    top: 0;
    height: 60px; /* Висота header */
    z-index: 1000;
    display: flex;
    justify-content: space-between; /* Рівномірне розподілення кнопок */
    align-items: center; /* Вирівнювання по вертикалі */
}

.nav {
    width: 100%; /* Заповнює доступну ширину header */
    display: flex;
    justify-content: space-around; /* Рівномірно розподіляє простір між кнопками */
}

.headerButton {
    /* Немає потреби в індивідуальних margin, оскільки flexbox вирівнює все правильно */
}

.headerButton a {
    color: white;
    text-decoration: none;
    padding: 10px 20px; /* Додає більше місця навколо тексту */
}

.headerButton a:hover {
    text-decoration: underline;
}