.main-content {
    margin-left: 250px;  /* Підлаштувати відповідно до ширини вашого sidebar */
    padding: 20px;       /* Додає відступ всередині основного контенту */
    width: calc(100% - 250px); /* Автоматично обраховує ширину, враховуючи sidebar */
}

.sidebar {
    width: 200px;        /* Підтвердіть, що ширина sidebar відповідає заданій */
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #f8f9fa; /* Стиль для прикладу */
    z-index: 1000;      /* Вищий індекс для відображення поверх основного контенту */
}

.header-main{

}