.main-container {
    display: flex;
    flex-direction: column;
}

.content-container {
    display: flex;
    margin-top: 60px; /* Offset for the fixed header */
}

.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    height: 100vh;
    width: 200px;
    position: fixed;
}

.main-content {
    margin-left: 200px; /* Offset for the fixed sidebar */
    padding: 20px;
    width: calc(100% - 200px); /* Adjust width to account for the sidebar */
}

.header {
    background-color: #343a40;
    padding: 10px 20px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.headerButton {
    margin-left: 20px;
}

.headerButton a {
    color: white;
    text-decoration: none;
}

.headerButton a:hover {
    text-decoration: underline;
}
